---
layout: page
description: "天下难事，必作于易；天下大事，必作于细"
---

{% assign pinned_ordered = site.posts | where_exp: "post", "post.pinned" | where_exp: "post", "post.pinned_order" | sort: "pinned_order" %}
{% assign pinned_unordered = site.posts | where_exp: "post", "post.pinned" | where_exp: "post", "post.pinned_order == nil" %}
{% if paginator.page == 1 %}
{% for post in pinned_ordered %}
{% include post-preview.html post=post pinned=true %}
{% endfor %}
{% for post in pinned_unordered %}
{% include post-preview.html post=post pinned=true %}
{% endfor %}
{% endif %}

{% for post in paginator.posts %}
{% unless paginator.page == 1 and post.pinned %}
{% include post-preview.html post=post %}
{% endunless %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
